body {
    background-color: #222245;
    line-height: normal;
    font-size: 1em;
}
td {
    padding-right: 8px;
}
label {
    display: inline;
}
#wrapper {
    width: 1000px; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #B8B8C4;
    box-shadow: 10px 10px 25px #000;
}
#header {
    height: 140px; 
    background-color: Black;
    margin-left: auto; 
    margin-right: auto;
}
#logo {
    width: 20%; 
    float: left;
}
#logo img {
    margin-top: auto; 
    margin-bottom: auto;
}
#blogtitle {
    float: left;
    margin-left: 4%;
}
#blogtitle #blogname {
    color: White;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 145px;
    font-family: 'Oxygen', sans-serif;
}
#navigation {
    height: 45px;
    padding-left: 1%; 
    padding-right: 1%; 
    float: right;
    border-radius: 5px;
    background-color: #47586E;
    margin-top: 55px;
    margin-right: 15px;
}
#navigation ul { 
    color: white; 
    list-style-type: none;
    height: 30px;
}
#navigation ul li {
    display: inline;
    min-height: 30px;
    background-color: #DDD;
    min-width: 50px;
}
#navigation .navitem {
    color: white;
    float: left;
    padding: 5px 10px 5px 10px;
    height: 45px;
    border-right: 1px solid Black;
}
#navigation .navitemEnd {
    color: white;
    float: left;
    padding: 5px 10px 5px 10px;
    height: 45px;
}
.navitem a, .navitemEnd a {
    text-decoration: none;
    color: White;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    font-family: 'Oxygen', sans-serif;
}
.navitem a:hover, .navitemEnd a:hover {
    color: #001829;
}
#body {
    margin-top: 15px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    min-height: 750px;
}
#content {
    width: 665px;
    float: left; 
    margin-bottom: 10px;
}
#posts {
    width: 30%; 
    float: left; 
    padding-left: 2%; 
    margin-bottom: 10px;
}
#footer {
    margin-top: 10px; 
    clear: both; 
    height: 60px; 
    background-color: #111111;
}
#footer .fdata {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    color: White;
    line-height: 55px;
    font-family: 'Oxygen', sans-serif;
}
.fdata .disclaimer {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#topic {
    background-color: #191B1E;
    border: 2px solid Black;
    padding: 5px;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px #888888;
    font-family: 'Oxygen', sans-serif;
    color: White;
    width: 652px;
}
#topic h1 {
    padding: 5px;
}
#topicdata {
    margin-top: 10px;
    border: 1px solid Black;
    border-radius: 4px;
    background-color: White;
    padding-left: 5px;
    box-shadow: 4px 4px 5px #888888;
    width: 660px;
}
#topicdata .data {
    padding: 8px;
    font-family: 'Oxygen', sans-serif;
}
#archive {
    background-color: #191B1E;
    border: 2px solid Black;
    padding: 5px;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px #888888;
    font-family: 'Oxygen', sans-serif;
    color: White;
}
#archive h1 {
    padding: 5px;
}
#archivedata {
    margin-top: 10px;
    border: 1px solid Black;
    border-radius: 4px;
    background-color: White;
    padding-left: 5px;
    box-shadow: 4px 4px 5px #888888;
}
#archivedata .data {
    padding: 8px;
    font-family: 'Oxygen', sans-serif;
}

.monthlist {
    list-style-type: none;
}
.monthlist li a {
    text-decoration: none;
    color: Black;
    font-weight: bold;
    font-size: 1.1em;
}
.monthlist li a:hover {
    color: #06BA00;
}
.daylist {
    list-style-type: disc;
}
.daylist li {
    margin-bottom: 8px;
}
.daylist li a {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.0em;
    color: #2F39CC;
}
.daylist li a:hover {
    color: #2F39CC;
}

#login {    
    width: 99%; 
    min-height: 200px; 
    border: 1px solid Black; 
    margin-bottom: 20px;
    background-color: Grey;
    box-shadow: 4px 4px 5px #888888;
}

#login #loginHeader {
     width: 100%; 
     margin-top: -10px;
     color: white; 
     background-color: #191B1E;
     text-align: top;
}

#loginHeader h1 {
    padding: 5px;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.8em;
    line-height: normal;
}

#loginContainer a {
    color:whitesmoke;
}

#btn-login {
    margin-top: 2px;
    float: right;
    margin-right: 6px;
    width: 80px;
    height: 30px;
    font-size: 1.2em;
}

#txt-password {
    margin-left: 4px;
    margin-right: 5px;
    height: 23px;
    width: 180px;
}

#txt-username {
    height: 23px;
    width: 180px;
}

#loginContainer label {
    color: White;
    font-family: 'Oxygen', sans-serif;
}

#register {
    margin-top: -12px;
    font-family: 'Oxygen', sans-serif;
}

#register a {
    color: White;
}

#register a:hover {
    color: lightgrey;
}